{% extends 'base.html' %}

{% block content %}
    <textarea id="chat-log" cols="100" rows="20" readonly></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>

    <script>
    var roomName = "{{ room_name|escapejs }}";
    var username = "{{ user.username }}";
    var isAuthenticated = "{{ user.is_authenticated }}";

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if (data['type'] == "message"){
            if (isAuthenticated && username == data['user']){
                document.querySelector('#chat-log').value += (data['message'] + '\n');
            }
            else{
                document.querySelector('#chat-log').value += (data['user'] + ': ' + data['message'] + '\n');
            }
        }
        else if (data["type"] == "message_confirmation"){
            document.querySelector('#chat-log').value += (data['message'] + '\n');
        }
        else if (data["type"] == "leave_message"){
            document.querySelector('#chat-log').value += (data['user'] + " has left." + '\n');
        }
        else if (data["type"] == "join_message"){
            document.querySelector('#chat-log').value += (data['user'] + " joined." + '\n');
        }
        else if (data["type"] == "user_list"){
            console.log(data['users'])
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };
</script>
{% endblock %}