{% extends '../../../templates/base.html' %}

{% block content %}
<div class="container">
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<form method="POST">
    <div class="form-group">
        {% csrf_token %}
        <!--{{ form.as_p }}-->
        {% for field in form.visible_fields %}
        <p>{{field.label_tag}} {{ field }}
        <button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ field.help_text}}}">
            ?
        </button>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<p>Already have an account? <a href="{% url 'login'%}">Sign in</a>
</div>
{% endblock %}
