<app-room-preview *ngFor="let room of results" [room]="room">
</app-room-preview>

<div class="app-room-preview" [hidden]="!loading">Loading rooms...</div>

<div class="app-room-preview" [hidden]="loading || results.length">
  No rooms are here... yet.
</div>

<nav [hidden]="loading || totalPages.length <= 1">
  <ul class="pagination">
    <li
      class="page-item"
      [ngClass]="{ active: pageNumber === currentPage }"
      *ngFor="let pageNumber of totalPages"
      (click)="setPageTo(pageNumber)"
    >
      <a class="page-link">{{ pageNumber }}</a>
    </li>
  </ul>
</nav>
