body{
    text-align: center;
}

main{
    width: 70%;
    margin: 0 auto;
    margin-left: 8%;
}

#user-list{
    border: 1px solid black;
}

#chat-box{
    border: 1px solid black;
    overflow-y: auto;
    height:500px;
    position: relative;
}

.notification{
    clear: both;
    margin:0 auto;
    color: lightslategrey;
    font-size: small;
}

.owner-message{
    clear: both;
    float: right;
    background-color: lightskyblue;
    max-width: 70%;
    border-radius: 25%;
    padding: 5px;
    margin-bottom: 5px;
}

.message{
    clear: both;
    float: left;
    background-color: lightgray;
    max-width: 70%;
    border-radius: 25%;
    padding: 5px;
    margin-bottom: 5px;
}

.user{
    width: 100%;
    margin-bottom: 5px;
}

#user-list{
    text-align: left;
}
