<mat-grid-list class="siema" cols="10" rowHeight="400px">
  <mat-grid-tile class="siema" colspan="8">
    <div fxFill fxLayout="column bottom">
      <div fxFlex>
        <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
          <ul>
            <ng-container
              *cdkVirtualFor="let m of messages"
              class="example-item"
            >
              <ng-container [ngSwitch]="m.type">
                <li *ngSwitchCase="'join_message'" class="join-leave-message">
                  {{ m.message }}
                </li>
                <li *ngSwitchCase="'leave_message'" class="join-leave-message">
                  {{ m.message }}
                </li>
                <li *ngSwitchCase="'message'" class="message elo">
                  {{ m.user.username }}: {{ m.message }}
                </li>
                <li
                  *ngSwitchCase="'message_confirmation'"
                  class="message-confirmation elo"
                >
                  {{ m.message }}
                </li>
                <p *ngSwitchDefault>{{ m.type }} {{ m.message }}</p>
              </ng-container>
            </ng-container>
          </ul>
        </cdk-virtual-scroll-viewport>
      </div>
      <input
        [(ngModel)]="message"
        (keyup)="$event.keyCode == 13 && sendMessage()"
      />
      <button (click)="sendMessage()">Send Message</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div fxFlex fxLayout="column" fxLayoutAlign="end">
      <p class="userTile" *ngFor="let u of users">
        {{ u.username }}
      </p>
    </div>
  </mat-grid-tile>
</mat-grid-list>
