<mat-grid-list class="siema" cols="10" rowHeight="400px">
  <mat-grid-tile class="siema" colspan="8">
    <div fxFill fxLayout="column bottom">
      <div fxFlex>
        <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
          <p *cdkVirtualFor="let m of messages" class="example-item">
            {{ m }}
          </p>
        </cdk-virtual-scroll-viewport>

        <!--<p *ngFor="let m of messages">
          {{ m }}
        </p>-->
      </div>
      <input
        [(ngModel)]="message"
        (keyup)="$event.keyCode == 13 && sendMessage()"
      />
      <button (click)="sendMessage()">Send Message</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div fxFlex fxLayout="column" fxLayoutAlign="end">
      <p class="userTile" *ngFor="let u of users">
        {{ u.username }}
      </p>
    </div>
  </mat-grid-tile>
</mat-grid-list>
