body {
  font-size: 14px;
}

.userTile {
  text-align: right;
}

.example-viewport {
  height: 95%;
  width: 100%;
  border: 1px solid black;
}

.siema {
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

.siema2 {
  height: 300vh;
  min-height: 100vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: block;
  clear: both;
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
}

.join-leave-message {
  padding: 10px;
  display: inline-block;
  text-align: center;
}

.message {
  background: #eee;
  float: left;
}

.message-confirmation {
  float: right;
  background: #0084ff;
  color: #fff;
}

.message + .message-confirmation {
  border-bottom-right-radius: 5px;
}

.message-confirmation + .message-confirmation {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.elo {
  width: 100%;
  height: 100%;
  text-align: center;
}
